<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ပြည်တွင်းအခွန်များဦးစီးဌာန</title>
    <link rel="icon" href="~/Content/images/VAVSLogo.jpg" type="image/png">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="~/Content/css/style_edit.css" asp-append-version="true">
    <script src="~/Content/plugins/chart.js/Chart.min.js"></script>


    <link rel="stylesheet" href="~/Content/css/style_edit.css" asp-append-version="true">
    <script src="~/Content/plugins/jQuery/jquery-2.2.3.min.js" asp-append-version="true"></script>
    <script src="~/Content/plugins/select2/select2.full.min.js" asp-append-version="true"></script>
    <script src="~/Content/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js" asp-append-version="true"></script>
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/Content/plugins/datatables/dataTables.bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/Content/plugins/datatables/dataTables.bootstrap.js" asp-append-version="true"></script>
    <script src="~/Content/plugins/input-mask/jquery.inputmask.js" asp-append-version="true"></script>
    <script src="~/Content/plugins/input-mask/jquery.inputmask.date.extensions.js" asp-append-version="true"></script>
    <script src="~/Content/plugins/input-mask/jquery.inputmask.extensions.js" asp-append-version="true"></script>
    <!-- Select Box -->
    <link rel="stylesheet" href="~/Content/plugins/select2/select2.min.css" asp-append-version="true">
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/Content/bower_components/bootstrap-daterangepicker/daterangepicker.css" asp-append-version="true">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="~/Content/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" asp-append-version="true">

    @*<script src="~/Content/plugins/iCheck/icheck.min.js"></script>*@
    @*<script src="~/Content/plugins/bootstrap-slider/bootstrap-slider.js"></script>*@

    <link href="~/Content/dist/css/fontawesome.min.css" rel="stylesheet" asp-append-version="true" />


    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/bower_components/font-awesome/css/font-awesome.min.css" asp-append-version="true">
    @*<link rel="stylesheet" href="~/Content/bower_components/font-awesome/css/fontawesome-all.min.css">*@
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/bower_components/Ionicons/css/ionicons.min.css" asp-append-version="true">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/dist/css/skins/_all-skins.min.css" asp-append-version="true">
    <!-- Morris chart -->
    <link rel="stylesheet" href="~/Content/bower_components/morris.js/morris.css" asp-append-version="true">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/Content/bower_components/jvectormap/jquery-jvectormap.css" asp-append-version="true">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/Content/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" asp-append-version="true">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Content/bower_components/bootstrap-daterangepicker/daterangepicker.css" asp-append-version="true">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/Content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" asp-append-version="true">

    <link href="~/Content/plugins/toastr/toastr.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet" asp-append-version="true" />

    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" />*@

    <link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
</head>
<body class="hold-transition skin-yellow-light sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->

            <a href="@Url.Action("Dashboard", "Home")" class="logo" style="padding:0px;line-height:45px;">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                @*<span class="logo-mini"><b>INNO</b></span>*@
                <!-- logo for regular state and mobile devices -->
                @*<span class="logo-lg"><b>INNO</b><small> Capital Microfinace</small></span>*@
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <!-- logo for regular state and mobile devices -->
                @*<span class="logo-lg"> M O C </span>*@
                <img src="~/Content/images/VAVSLogo.jpg" width="50px;" /><span style="font-size:16px;margin-left:5px;">ပြည်တွင်းအခွန်များဦးစီးဌာန</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <div class="upNav">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>

                    <a href="#" class="navbar-brand dropdown-toggle" data-toggle="dropdown">
                        @{

                            string tmpCaption = string.Empty;
            // if (ViewBag.lstLogIn.Department != null)
                            // {
                            //     tmpCaption = @Convert.ToString(ViewBag.lstLogIn.Department);
                            // }
                            <span class="hidden-xs" style="font-size:15px;">@Convert.ToString(ViewBag.lstLogIn.UserRole) </span>

                        }
                    </a>

                    <div class="navbar-custom-menu">

                        <ul class="nav navbar-nav" style="float:right">
                           
                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu" style="width:280px;">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    @{
                                        if (ViewBag.lstLogIn != null)
                                        {
                                            <img src="~/css/img/icons8-user-50.png" style="margin-top:-15px;" />
                                            var path = Convert.ToString(ViewBag.lstLogIn.UserDisplayName).Substring(0, 1).ToLower();
                                            @*<img src="~/Content/images/Alphabet/@(path).png" class="user-image" alt="User Image">*@
                                            <span class="hidden-xs">
                                                @(String.Format("{0}", ViewBag.lstLogIn.UserDisplayName))
                                            </span>

                                        }

                                    }
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    @{
                                        string UserName = Convert.ToString(ViewBag.lstLogIn.UserDisplayName);
                                        char[] array = UserName.ToCharArray();
                                        // Handle the first letter in the string.
                                        if (array.Length >= 1)
                                        {
                                            if (char.IsLower(array[0]))
                                            {
                                                array[0] = char.ToUpper(array[0]);
                                            }
                                        }
                                        // Scan through the letters, checking for spaces.
                                        // ... Uppercase the lowercase letters following spaces.
                                        for (int i = 1; i < array.Length; i++)
                                        {
                                            if (array[i - 1] == ' ')
                                            {
                                                if (char.IsLower(array[i]))
                                                {
                                                    array[i] = char.ToUpper(array[i]);
                                                }
                                            }
                                            else
                                            {
                                                array[i] = char.ToLower(array[i]);
                                            }
                                        }
                                        UserName = new string(array);

                                        if (ViewBag.lstLogIn != null)
                                        {
                                            var path = Convert.ToString(ViewBag.lstLogIn.UserDisplayName).Substring(0, 1).ToLower();

                                            <li class="user-header">
                                                <img src="~/Content/images/Alphabet/@(path).png" class="img-circle" alt="User Image">
                                                <p>
                                                    @(String.Format("{0}", ViewBag.lstLogIn.UserDisplayName))
                                                    <small></small>
                                                </p>
                                            </li>
                                        }

                                    }
                                    <!-- Menu Body -->
                                    <!-- <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Followers</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Sales</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Friends</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                    <!-- </li>
                                                            <!-- Menu Footer-->
                                    <li class="user-footer">

                                        @using (Html.BeginForm("LogOut", "AccountLogin", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="pull-right">
                                                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-secondary">Sign out</a>
                                            </div>
                                        }
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <section class="sidebar">

                <!-- search form -->
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree" style="margin-top:50px;">


                    <li class="treeview active menu-open">
                        <a href="#" class="active">
                            <i class="fa fa-list"></i>
                            <span style="font-size:20px;">ပင်မစာမျက်နှာ</span>

                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu">
                           
                            <li>
                                <a class="active" href="@Url.Action("Index", "Dashboard")" style="font-size: 16px;"><i class=""></i>ပင်မစာမျက်နှာ</a>

                            </li>
                          
                        </ul>

                    </li>
                    <li class="treeview active menu-open">
                        <a href="#" class="active">
                            <i class="fa fa-list"></i>
                            <span style="font-size:20px;">Tax Validation</span>

                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu">

                            <li>
                                <a class="active" href="@Url.Action("Index", "TaxValidation",new{Status="Pending"})" style="font-size: 16px;"><i class=""></i>Peding List</a>

                            </li>
                            <li>
                                <a class="active" href="@Url.Action("Index", "TaxValidation",new{Status="Finished"})" style="font-size: 16px;"><i class=""></i>Approve List</a>

                            </li>

                        </ul>

                    </li>
                    <li class="treeview active menu-open">
                        <a href="#" class="active">
                            <i class="fa fa-list"></i>
                            <span style="font-size:20px;">Vehicle</span>

                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu">

                            <li>
                                <a class="active" href="@Url.Action("Index", "VehicleStandardValue")" style="font-size: 16px;"><i class=""></i>Set Up Standard Value</a>

                            </li>
                           

                        </ul>

                    </li>
                    <li class="treeview active menu-open">
                        <a href="#" class="active">
                            <i class="fa fa-list"></i>
                            <span style="font-size:20px;">Personal Info</span>

                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu">

                            <li>
                                <a class="active" href="@Url.Action("Index", "Personal")" style="font-size: 16px;"><i class=""></i>Personal Detail List</a>

                            </li>


                        </ul>

                    </li>
                </ul>
            </section>
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">

                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.1.0
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year <a href="http://acedatasystems.com/" target="_blank">VAVS</a>.</strong> All rights
            reserved.
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs"></ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">

                    <!-- /.control-sidebar-menu -->
                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <script src="~/Content/plugins/jQuery/jquery-2.2.3.min.js" asp-append-version="true"></script>
    <script src="~/Content/plugins/select2/select2.full.min.js" asp-append-version="true"></script>
    <script src="~/Content/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js" asp-append-version="true"></script>
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/Content/plugins/datatables/dataTables.bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/Content/plugins/datatables/dataTables.bootstrap.js" asp-append-version="true"></script>
    <script src="~/Content/plugins/input-mask/jquery.inputmask.js" asp-append-version="true"></script>
    <script src="~/Content/plugins/input-mask/jquery.inputmask.date.extensions.js" asp-append-version="true"></script>
    <script src="~/Content/plugins/input-mask/jquery.inputmask.extensions.js" asp-append-version="true"></script>
    <script src="~/Content/bower_components/morris.js/morris.min.js" asp-append-version="true"></script>
    <!-- jQuery 3 -->
    <script src="~/Content/bower_components/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/bower_components/jquery-ui/jquery-ui.min.js" asp-append-version="true"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/bower_components/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <!-- Morris.js charts -->
    <script src="~/Content/bower_components/raphael/raphael.min.js" asp-append-version="true"></script>
    <script src="~/Content/bower_components/morris.js/morris.min.js" asp-append-version="true"></script>
    <!-- Sparkline -->
    <script src="~/Content/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js" asp-append-version="true"></script>
    <!-- jvectormap -->
    <script src="~/Content/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" asp-append-version="true"></script>
    <script src="~/Content/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" asp-append-version="true"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Content/bower_components/jquery-knob/dist/jquery.knob.min.js" asp-append-version="true"></script>
    <!-- daterangepicker -->
    <script src="~/Content/bower_components/moment/min/moment.min.js" asp-append-version="true"></script>
    <script src="~/Content/bower_components/bootstrap-daterangepicker/daterangepicker.js" asp-append-version="true"></script>
    <!-- datepicker -->
    <script src="~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <!-- Slimscroll -->
    <script src="~/Content/bower_components/jquery-slimscroll/jquery.slimscroll.min.js" asp-append-version="true"></script>
    <!-- FastClick -->
    <script src="~/Content/bower_components/fastclick/lib/fastclick.js" asp-append-version="true"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.min.js" asp-append-version="true"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/bower_components/jquery-ui/jquery-ui.js" asp-append-version="true"></script>
    <script src="~/Content/scripts/Chart.min.js" asp-append-version="true"></script>
    <script src="~/Content/scripts/Chart.min.js" asp-append-version="true"></script>
    <script src="~/Content/plugins/toastr/toastr.min.js" asp-append-version="true"></script>
    <script src="~/Content/bower_components/moment/locale/my.js"></script>
    <script src="~/js/sweetalert2@11.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.3.2/echarts.min.js"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/echarts@4.7.0/dist/echarts.min.js"></script> *@
    <script src="~/js/chart-echarts.js"></script>


    <script>
        var currentpage = '@ViewBag.CurrentPage'
        $(document).ready(function () {
            $("#Menu_" + currentpage).css('background-color', '#0f3cbd')
            $("#Text_" + currentpage).css('color', 'white')
        })

        function EnToMy(EnStr) {
            return EnStr.replace('1', '၁').replace('2', '၂').replace('3', '၃').replace('4', '၄').replace('5', '၅').replace('6', '၆').replace('7', '၇').replace('8', '၈').replace('9', '၉').replace('0', '၀');
        }
        function MyToEn(MyStr) {
            return EnStr.replace('၁', '1').replace('၂', '2').replace('၃', '3').replace('၄', '4').replace('၅', '5').replace('၆', '6').replace('၇', '7').replace('၈', '8').replace('၉', '9').replace('၀', '0');
        }
    </script>
</body>
@RenderSection("Scripts", required: false)
</html>