@using Microsoft.Extensions.Configuration
@using X.PagedList
@inject IConfiguration Configuration
@model IPagedList<VAVS_Model.Model.VM_SetUpStandardValue>
@{
    var controller = "VehicleStandardValue";
    ViewData["Title"] = "All " + controller;
    var count = 1;
    var query = Context.Request.Query;
    var VehicleNumber = query["VehicleNumber"];
    var NRC = query["NRC"];
    var Status = query["Status"];
    var StateDivision = query["StateDivision"];
    var Township = query["Township"];
    ViewData["Query"] = query;

}

@* <div class="panel-group" id="accordion" role="tablist" aria -multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne1">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class='fa fa-search'></i> Search
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne1">
            <div class="panel-body">
                <form method="get" action="@Configuration.GetSection("AppUrls").GetSection("TestUrl").Value/@controller/Index">

                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label" for="FromDate">Manufacturer</label>
                                <div class="controls">
                                    <input type="text" class="form-control" name="VehicleNumber" id="vehicleNumber" value="@VehicleNumber">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label" for="FromDate">Vehicle Brand</label>
                                <div class="controls">
                                    <input type="text" class="form-control" name="NRC" id="nrc" value="@NRC">
                                    <input type="text" name="Status" id="nrc" value="@Status" hidden>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">&nbsp;</label>
                                <div class="controls">
                                    <button type="submit" class="btn btn-primary gradient-blue">ရှာဖွေရန်</button>
                                    <a asp-controller="@controller" asp-action="Index" class="btn btn-primary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> *@
<section class="content">
    <div class="panel panel-default">
        <header class="panel-heading">
            @*<h2 class="title pull-left"></h2>*@

        </header>
        <div class="panel-body">
             <div class="row">
            <div class="pull-right">
                @if(ViewBag.Township==null)
                    {
                        <a asp-controller="@controller" asp-action="Create" class="btn btn-xs btn-secondary" style="width: 90px; height: 28px; padding: 3px;margin-right:5px;">Add New</a>
                    }
            </div>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr style="background-color: #0f3cbd;">
                                <th style="color:white;">No.</th>
                                <th style="color:white;">Manufacturer</th>
                                <th style="color:white;">BuildType</th>
                                <th style="color:white;">FuelType</th>
                                <th style="color:white;">Vehicle Brand</th>
                                <th style="color:white;">Model Year</th>
                                <th style="color:white;">Engine Power</th>
                                <th style="color:white;">Standard Value</th>
                                <th style="color:white;"></th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">@((((int)ViewBag.Page - 1) * (int)ViewBag.PageSize) + count)</td>
                                    <td class="text-center">@item.Manufacturer</td>
                                    <td class="text-center">@item.BuildType</td>
                                    <td class="text-center">@item.FuelType</td>
                                    <td class="text-center">@item.VehicleBrand</td>
                                    <td class="text-center">@item.ModelYear</td>
                                    <td class="text-center">@item.EnginePower</td>
                                    <td class="text-center">@item.StandardValue</td>


                                    @if(ViewBag.Township==null)
                                    {
                                        <td class="text-center">
                                            <a asp-controller="@controller" asp-action="Edit" asp-route-Id="@item.VehicleStandardMasterPkid" class="btn btn-xs btn-secondary">Modify</a>
                                        </td>

                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                    <partial name="_Pagination" model="Model" view-data="ViewData" />
                </div>
            </div>
        </div>
    </div>
</section>
@*</div>
        </div>
    </div>*@
@section Scripts{
    <script>
        const commonUrl = @Json.Serialize(@Configuration.GetSection("AppUrls").GetSection("TestUrl").Value);

        function StateDivisionChange() {
            debugger;
            // console.log("township", '@ViewBag.TownshipId');
            // console.log("StateDivision Text", $("#stateDivision").val());
            $.ajax({
                url: commonUrl + '/Office/GetTownship?divisonCode=' + $("#stateDivisionCode").val(),
                type: 'GET',
                ContentType: 'application/json;utf-8',
                datatype: 'json',
                success: function (res) {
                    var selectList = document.getElementById("townshipCode");
                    for (var i = 0; i < res.length; i++) {
                        var option = document.createElement("option");
                        option.value = res[i].townshipCode;
                        option.text = res[i].township;
                        selectList.appendChild(option);
                    }
                }

            });
        }
        function DeleteConfirm(url, id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = commonUrl + url + id;
                }
            })
        }
    </script>
}
